.marker-cluster {
  background: transparent !important;
}

.marker-cluster div {
  width: 40px !important;
  height: 40px !important;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: #1976d2 !important;
  color: white;

  font-weight: bold;
  font-size: 14px;

  border: 2px solid white;
}

.marker-cluster-small div {
  background: #4CAF50 !important;
}

.marker-cluster-medium div {
  background: #FF9800 !important;
}

.marker-cluster-large div {
  background: #F44336 !important;
}