/* ===== Leaflet Cluster Style ===== */

.marker-cluster {
  background: rgba(0,0,0,0.25);
  border-radius: 50%;
}

.marker-cluster div {
  background: #1976d2;
  border-radius: 50%;

  width: 34px;
  height: 34px;

  margin: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-weight: bold;
  font-size: 13px;

  border: 2px solid white;
}

/* cluster sizes */

.marker-cluster-small div {
  background: #4CAF50;
}

.marker-cluster-medium div {
  background: #FF9800;
}

.marker-cluster-large div {
  background: #F44336;
}

.marker-cluster span {
  line-height: 1;
}